html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family:
    -apple-system,
    Source Han Mono SC,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
}
button,
input,
textarea {
  font-family:
    -apple-system,
    Source Han Mono SC,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
}
.container {
  padding: 20px;

  th {
    word-break: keep-all !important;
  }
}
#app {
  height: 100%;
  width: 100%;
}

input:-internal-autofill-selected {
  background: transparent !important;
}
